{{#if logged_in}}
  <h2>Welcome, {{user.username}}!</h2>
  <h2>User Info</h2>
  <h3>User Id: {{user.id}}</h3>
  <h3>Your Email: {{user.email}}</h3>
  <!-- Form for changing password -->
  <h3>Change Password</h3>
  <form id="changePasswordForm">
    <label for="currentPassword">Current Password:</label>
    <input
      type="password"
      id="currentPassword"
      name="currentPassword"
      required
    />

    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="newPassword" required />

    <button type="submit">Change Password</button>
  </form>

  <!-- Display posts of the logged-in user -->
  <h2>Your Posts</h2>
  {{#each posts}}
    <div class="postDiv">
      <h3>{{this.dataValues.title}}</h3>
      <p>{{this.dataValues.text}}</p>
      <p>Posted on {{format_time this.dataValues.createdAt}}</p>
      <button id="deleteButton-{{this.dataValues.id}}">Delete Post</button>
      <button class="editButton" data-post-id="{{this.dataValues.id}}">Edit Post</button>
    </div>
    <div id="editPostFormContainer"></div>
  {{/each}}

  <!-- Display comments made by the logged-in user -->
  <h2>Your Comments</h2>
  {{#each comments}}
    {{log this}}
    <div class="commentDiv">
      <p>{{this.text}}</p>
      <p>Commented on {{format_time this.createdAt}}</p>
      <button class="deleteCommentButton" data-comment-id="{{id}}">Delete
        Comment</button>
      <button class="editCommentButton" data-comment-id="{{id}}">Edit Comment</button>
      <div id="editCommentFormContainer"></div>
    </div>
  {{/each}}

{{else}}
  <a href="/login"><p>Please log in to manage your user details and manage
      posts!</p></a>
{{/if}}

<script src="/js/dashboardFunctions/changePassword.js"></script>
<script src="/js/dashboardFunctions/deletePost.js"></script>
<script src="/js/dashboardFunctions/editPostForm.js"></script>
<script src="/js/dashboardFunctions/putPostData.js"></script>
<script src="/js/dashboardFunctions/deleteComment.js"></script>
<script src="/js/dashboardFunctions/editComment.js"></script>